<div class="form-container">
  <%= simple_form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :text %>
  <%= f.text_field :text %>
  <%= f.submit %>
  <% end %>
</div>
